# environment variables
.env
.env.local
.env.*
server/.env.local

# node modules
node_modules/

# logs
*.log

# local config
config/*.json
credentials.json

# build or dist folders
dist/
build/

# system files
.DS_Store
Thumbs.db

# TLS keys
*.pem
